@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  background-color: black;
}
.btn-55,
.btn-55 *,
.btn-55 :after,
.btn-55 :before,
.btn-55:after,
.btn-55:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-55 {
  -webkit-tap-highlight-color: 
transparent;
  -webkit-appearance: button;
  background-color: 
#000;
  background-image: none;
  color: 
#fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
.btn-55:disabled {
  cursor: default;
}
.btn-55:-moz-focusring {
  outline: auto;
}
.btn-55 svg {
  display: block;
  vertical-align: middle;
}
.btn-55 [hidden] {
  display: none;
}
.btn-55 {
  background: linear-gradient(90deg, blue, red);
  border-radius: 999px;
  box-sizing: border-box;
  color: 
#000;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.8rem 5rem;
  position: relative;
  text-transform: uppercase;
}
.btn-55 span {
  background: 
#1e293b;
  border-radius: 999px;
  color: 
#fff;
  display: grid;
  inset: 5px;
  place-items: center;
  position: absolute;
  transition: background 0.3s;
}
.btn-55:hover span {
  background: none;
}

.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-17 {
  -webkit-tap-highlight-color: 
transparent;
  -webkit-appearance: button;
  background-color: 
#000;
  background-image: none;
  color: 
#fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-17:disabled {
  cursor: default;
}
.btn-17:-moz-focusring {
  outline: auto;
}
.btn-17 svg {
  display: block;
  vertical-align: middle;
}
.btn-17 [hidden] {
  display: none;
}
.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}
.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}
.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}
.btn-17 .text {
  display: block;
  position: relative;
}
.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}
@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%);
  }
  51% {
    transform: translateY(-80%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%);
  }
  51% {
    transform: translateY(-80%);
  }
  to {
    transform: translateY(0);
  }
}
.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: 
#fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}
.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}
.btn-17:hover:before {
  --progress: 100%;
}
.btn-17:hover:after {
  --progress: -102%;
}
.wrap-input-6 .input {
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  border: 0;
  padding: 5px 0 7px;
  border: 1px solid 
transparent;
  border-bottom-color: 
#ccc;
  transition: 0.4s;
  background-color: 
  transparent;
  height: 36px;
}

.wrap-input-6 .input:focus {
  outline: none;
  padding: 5px 14px 7px;
  transition: 0.4s;
}

.wrap-input-6 {
  width: 80%;
  margin: 20px 3%;
  position: relative;
}

.wrap-input-6 .input ~ .focus-border {
  position: absolute;
  height: 36px;
  bottom: 0;
  right: 0;
  width: 0;
  transition: 0.4s;
}

.wrap-input-6 .input:focus ~ .focus-border {
  width: 100%;
  transition: 0.4s;
  border: 2px solid 
#6c5dd3;
}
.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.wrap-check-12 *,
  .wrap-check-12 *::before,
  .wrap-check-12 *::after {
    box-sizing: border-box;
  }

  .wrap-check-12 label {
    background: 
white;
    border-radius: 12px;
    display: flex;
    height: 50px;
    padding: 8px;
    position: relative;
    transition: transform 300ms ease, box-shadow 300ms ease;
    width: 116px;
  }

  .wrap-check-12 input {
    display: none;
  }

  .wrap-check-12 label:after {
    animation: move-left-36 400ms;
    background: 
#E2E2E2 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' viewBox='0 0 24 24'%3E%3Cpath stroke='#E2E2E2' fill='#E2E2E2' stroke-linecap='round' d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E") no-repeat center;
    border-radius: 12px;
    content: '';
    left: 8px;
    outline: none;
    position: absolute;
    transition: background 100ms linear;
    width: 36px;
    height: 36px;
    left: 8px;
    top: 7px;
  }

  .wrap-check-12 label:active {
    box-shadow: 0px 10px 20px 0 
rgba(0,0,0,0.2);
    transform: scale(1.15);
  }

  .wrap-check-12 input:checked + label:after {
    animation: move-right-36 400ms;
    background: 
#6EB54E url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='27' viewBox='0 0 24 24'%3E%3Cpath stroke='white' fill='white' stroke-linecap='round' d='M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z'/%3E%3C/svg%3E") no-repeat center;
    left: 72px;
  }

  @keyframes move-right-36 {
    0% {
      left: 8px;
    }
    75% {
      left: 78px;
    }
    100% {
      left: 72px;
    }
  }

  @keyframes move-left-36 {
    0% {
      left: 72px;
    }
    75% {
      left: 2px;
    }
    100% {
      left: 8px;
    }
  }
  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .wrap-check-57 input[type=checkbox] {
      --active: 
#275EFE;
      --active-inner: 
#fff;
      --focus: 2px 
rgba(39, 94, 254, .3);
      --border: 
#BBC1E1;
      --border-hover: 
#275EFE;
      --background: 
#fff;
      --disabled: 
#F6F8FF;
      --disabled-inner: 
#E1E6F9;
      -webkit-appearance: none;
      -moz-appearance: none;
      height: 21px;
      outline: none;
      display: inline-block;
      vertical-align: top;
      position: relative;
      margin: 0;
      cursor: pointer;
      border: 1px solid var(--bc, var(--border));
      background: var(--b, var(--background));
      transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    }
    .wrap-check-57 input[type=checkbox]:after {
      content: "";
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    }
    .wrap-check-57 input[type=checkbox]:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
    }
    .wrap-check-57 input[type=checkbox]:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: 0.9;
    }
    .wrap-check-57 input[type=checkbox]:disabled:checked {
      --b: var(--disabled-inner);
      --bc: var(--border);
    }
    .wrap-check-57 input[type=checkbox]:disabled + label {
      cursor: not-allowed;
    }
    .wrap-check-57 input[type=checkbox]:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover);
    }
    .wrap-check-57 input[type=checkbox]:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    .wrap-check-57 input[type=checkbox]:not(.switch) {
      width: 21px;
    }
    .wrap-check-57 input[type=checkbox]:not(.switch):after {
      opacity: var(--o, 0);
    }
    .wrap-check-57 input[type=checkbox]:not(.switch):checked {
      --o: 1;
    }
    .wrap-check-57 input[type=checkbox] + label {
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      margin-left: 4px;
    }

    .wrap-check-57 input[type=checkbox]:not(.switch) {
      border-radius: 7px;
    }
    .wrap-check-57 input[type=checkbox]:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid var(--active-inner);
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg));
    }
    .wrap-check-57 input[type=checkbox]:not(.switch):checked {
      --r: 43deg;
    }
    .wrap-check-57 input[type=checkbox].switch {
      width: 38px;
      border-radius: 11px;
    }
    .wrap-check-57 input[type=checkbox].switch:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 17px;
      height: 17px;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
    }
    .wrap-check-57 input[type=checkbox].switch:checked {
      --ab: var(--active-inner);
      --x: 17px;
    }
    .wrap-check-57 input[type=checkbox].switch:disabled:not(:checked):after {
      opacity: 0.6;
    }
  }

  .wrap-check-57 * {
    box-sizing: inherit;
  }
  .wrap-check-57 *:before,
  .wrap-check-57 *:after {
    box-sizing: inherit;
  }
  /* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 2px solid #414141;
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: white;
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.switch input:checked + .slider {
  box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
  border: 2px solid #0974f1;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}
@layer utilities {
  .active{
    @apply transition transform duration-300 ease-in-out border-blue-600 border-b-4 rounded-md 
  }
  .active-mobile{
    @apply transition transform duration-300 ease-in-out border-blue-600 border-l-4 rounded-md  border-spacing-8
  }
}
