.section {
  background-image: url("../public/word-high.jpg");
  background-attachment: fixed;
}
.lander {
  background-image: url("../public/crosses-high.jpg");
  background-attachment: fixed;
}
.feature{
  background-image: url("../public/highlight-high.jpg");
  background-attachment: fixed;
}
.footer{
  background-image: url('../public/wooden-high.jpg');
  background-attachment: fixed;
}
.search{
  background-image: url('../public/nobg-high.png');
  background-attachment: fixed;
}
.chapters{
  background-image: url('../public/light.jpg');
  background-attachment: fixed;
}
.verse{
  background-image: url('../public/sunset-low.jpg');
  background-attachment: fixed;
}
.dashboard{
  background-image: url('../public/dashboard-high-bg.jpg');
  background-attachment: fixed;  
}
/* Sections.css */
.select-container {
  position: relative;
  width: 16rem; /* fixed width */
}

.select-box {
  width: 100%;
}

.chapters-container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: calc(100vh - 8rem); /* adjust based on your padding/margins */
}
