.section {
  background-image: url("../public/word-high.jpg");
  background-attachment: fixed;
}
.lander {
  background-image: url("../public/crosses-high.jpg");
  background-attachment: fixed;
}
.feature{
  background-image: url("../public/highlight-high.jpg");
  background-attachment: fixed;
}
.footer{
  background-image: url('../public/wooden-high.jpg');
  background-attachment: fixed;
}
.search{
  background-image: url('../public/nobg-high.png');
  background-attachment: fixed;
}